<link rel="stylesheet" href="css/template/footer.css">
<footer class="footer">
     
        <div class="footer-section about">
            <h2>Sobre Nosotros</h2>
            <p>Somos una comunidad dedicada a...</p>
            <ul class="socials">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <!-- Agrega más enlaces a tus redes sociales si es necesario -->
            </ul>
        </div>
        <div class="footer-section links">
            <h2>Enlaces Rápidos</h2>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contacto</h2>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Dirección de la iglesia, Ciudad, País</li>
                <li><i class="fas fa-phone"></i> +1234567890</li>
                <li><i class="fas fa-envelope"></i> info@iglesiadedios.com</li>
            </ul>
        </div>
        
 
   
</footer>
