 footer {
    margin-top:100% ;
    background-color: #454343;
    color: #fff;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     margin: 0 auto;
    padding: 0 20px;
    
}

.footer-section {
    width: 30%;
    margin-bottom: 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.socials {
    display: flex;
    margin-top: 10px;
}

.socials li {
    margin-right: 10px;
}

.socials li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.socials li a:hover {
    color: #ccc;
}

/* Estilos para el footer bottom */
.footer-bottom {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
