<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Iglesia App</title>
   <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
   <header>
      <div class="header">
         <h1>Bienvenido a la Iglesia de Dios</h1>
      </div>
   </header>
   <nav>
      <%- include("./templates/nav/nav1.ejs") %>

   </nav>

   <div class="container">

      <h2>Saludos de parte de IglesiaApp!</h2>
      <p>¡Te damos una cálida bienvenida a nuestra aplicación en línea! Aquí, encontrarás una amplia gama de recursos
         diseñados para facilitar la organización y gestión de nuestra iglesia.</p>
      <p>Explora las numerosas funciones que ofrecemos para simplificar la administración eclesiástica y mantener a
         nuestra comunidad conectada.</p>

      <!-- <p>Próximo evento destacado: <a href="eventos.html">Conferencia Espiritual</a></p> -->
   
   </div>

 
</body>
<footer>
    
      <%- include("./templates/foot/footer1.ejs") %>
   
</footer>
</html>