<div class="container">
   <ul class="nav-links">

      <li><a href="/">Inicio</a></li>
      <li><a href="/cargos">Cargos</a></li>
      <li><a href="/personas">Usuarios</a></li>
      <li><a href="/aportes">Aportes</a></li>
      <li><a href="/eventos">Eventos</a></li>
      <li><a href="/matrimonios">Matrimonios</a></li>
      <li><a href="/programacion">Programacion</a></li>
   </ul>
   
</div>